* {
    padding: 0rem;
    margin: 0rem;
    scroll-behavior: smooth;
  }

  body{
    background-color: #0d1117;
  }
  
  h1{
    font-family: "Fira Sans", sans-serif;
    color: #6c747c;
    font-weight: 100;
    font-style: normal;
    background-color: #15181c;
    margin: .5rem 0rem .5rem 25%;
    border-radius: 7px;
    text-align: center;
    width: 50rem;
  }
  #topbar{
    /* border-bottom: 0.1rem solid #6c747c; */
    padding: .2rem;
    background-color: #0d1117;
  }
  
#headline{
    background-color: #010409;
    padding-left: 1rem;
    width: auto;
    background-color: 202226;
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: 6rem;
    
}
p{
    font-family: "Fira Sans", sans-serif;
    color: white;
}
a{
    /* border-bottom: 0.1rem solid #6c747c;
    border-left: 0.1rem solid #6c747c;;
    border-right: 0.1rem solid #6c747c;; */
    padding: .9rem 1rem;
    
    list-style-type: none;
  text-decoration: none;
  color: #6c747c;
}
a:hover{
  color:blue;
}

#pink{
    color: #D855DB;
}

span{
  z-index: 2;

  font-family: "Fira Sans";
font-size: 26px;
font-style: normal;
font-weight: 200;
line-height: 30px; /* 112.5% */
letter-spacing:1px;
}

#mainscreen{
  z-index: 3;
  position: absolute;
    margin: 1rem;
  background-color: #15181c;
  padding: 12rem  10rem;
  border-radius: 2rem;
}

#me{
z-index: 1;
position: relative;
margin-left: 50rem;
margin-top: 8rem;
}